<%- include("templates/header") %>

<div class="container mt-4">
    <h2>Users</h2>
    <ul class="list-group">
        <% for (let i = 0; i < users.length; i++) { %>
            <%- include("user", {user: users[i]}) %>
        <% } %>
    </ul>
</div>

<%- include("templates/footer") %>