<li class="list-group-item d-flex justify-content-between align-items-center">
    <div>
        <%= user.name %> (<%= user.user_type %>)
    </div>
    <div class="d-flex">
        <form action="/promote" method="post" class="me-2">
            <input type="hidden" name="userId" value="<%= user._id %>">
            <input type="hidden" name="userType" value="admin">
            <button type="submit" class="btn btn-danger btn-sm">Promote to Admin</button>
        </form>
        <form action="/demote" method="post">
            <input type="hidden" name="userId" value="<%= user._id %>">
            <input type="hidden" name="userType" value="user">
            <button type="submit" class="btn btn-success btn-sm">Demote to User</button>
        </form>
    </div>
</li>