<li class="list-group-item d-flex justify-content-between align-items-center">
    <div>
        <%= user.name %> (<%= user.user_type %>)
    </div>
    <div>
        <button class="btn btn-danger btn-sm">Promote to Admin</button>
        <button class="btn btn-success btn-sm">Demote to User</button>
    </div>
</li>